.a{height:50px; margin:100px 0;}
.container{ margin-bottom:10px;}
.btn-success{align: center;}
.navbar-fixed-top {border-bottom-width: 5px;}

.top{width:100%; height:80px; background-color:#000000; float:left;}
.aa{width:260px;}
.aa span{size:24px; font-weight:bold; color:#FFF; line-height:20px;}
.nav{width:900px; padding-left:310px; margin-top:-58px;}
.top img{padding:15px 10px 15px 100px;}
.right{float:right; width:455px;margin-top: -62px;padding-right: 260px;}
.bb{width:160px; height:40px;float:right;margin-top: -70px;margin-right: 80px;}

.zj{float:left; margin-right:60px;}
.jumbotron { margin-top:85px;padding:48px 0 48px 120px;}
.jumbotron p {font-size: 14px; text-indent:2em;}
.an{height: 50px;width: 462px;margin-left: 280px;}
.navbar-default {background-color: #eee;border-color: #eee;}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color:#E4E4E4;
}
.table-hover>tbody>tr:hover {
    background-color:#CCC;
}
.table-hover>tbody>tr a{color:#CCC;}
.table-hover>tbody>tr a:hover{background-color:#999;}
.bf{text-align:center;}
.gd{height:290px; padding:0 60px 48px 60px;}
.progress-bar {background-color:#FF0000;}
#foot{ height:200px;font: normal 12px/1.5 Microsoft YaHei,Arial,san-serif;color: #aaa;background-color: #3f3f3f;overflow: hidden;}
.trail-box{width:100%; height:200px;font: normal 12px/1.5 Microsoft YaHei,Arial,san-serif;color: #aaa;outline: 0;border: 0; width: 860px;margin: 35px auto 0 auto;padding: 0 0 50px 80px;}
.trail-box a{text-decoration:none; color:#999999;}
.trail-box a:hover{color:#fff;}
/* 小屏幕（桌面显示器，大于等于 768px） */ 
@media (min-width: 768px) { 
.an{width: 390px;}
}

/* 中等屏幕（桌面显示器，大于等于 992px） */ 
@media (min-width: 992px){
.an{width: 462px;}
}
/* 大屏幕（大桌面显示器，大于等于 1200px） */ 
@media (min-width: 1200px) { 
.an{}
}